.aff-table-wrap
  table.table.table-striped.table-hover
    tr
      th ID
      th month
      th year
      th total
    tr(ng-repeat="item in vm.data")
      td: span(ng-bind="item.id")
      td: span(ng-bind="item.month")
      td: span(ng-bind="item.year")
      td: span(ng-bind="item.total")

  button.btn.btn-info.btn-block(type="button" ui-sref="aff.form")
    span.glyphicon.glyphicon-plus

