@import "_variables";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footerHeight;
  font-family: monospace;
  margin-top: 10px;

  .btn:focus, .btn:active:focus {
    outline: none;
  }

  .btn, .table tr {
    transition: background-color 0.3s;

    &:hover [class^="icon-"], [class*=" icon-"] {
      &:before {
        transform: scale(1.4);
        transition: transform 0.3s;
      }
    }
  }

  .aff-header a {
    transition: color 0.3s;
  }
}
