@import "_variables";

.aff-form-wrap {
  .total-line {
    border-radius: 5px;
    padding: 10px;
  }

  .total-title {
    font-weight: bold;
    display: inline-block;
  }

  .total-value {
    display: inline-block;
  }

  .form-control-static {
    text-align: right;
  }

  .aff-red {
    color: $red;
  }

  .aff-blue {
    color: $blue;
  }

  .aff-yellow {
    color: $yellow;
  }

  @media (max-width: 767px) {
    .aff-form-last {
      margin-top: 10px;
    }
  }

}
