@import "_variables";

.aff-form-wrap {

  .form-control-static {
    text-align: right;
  }

  .aff-red {
    color: $red;
  }

  .aff-blue {
    color: $blue;
  }

  .aff-yellow {
    color: $yellow;
  }

  .btn {
    outline: none;
  }

  @media (max-width: 767px) {
    .aff-form-last {
      margin-top: 10px;
    }
  }

}
