.aff-form-wrap: form.form-horizontal

  .form-group
    label.col-xs-2.control-label Year
    .col-xs-10
      select.form-control(ng-model="vm.item.year" ng-options="year for year in vm.years")

  .form-group
    label.col-xs-2.control-label Month
    .col-xs-10
      select.form-control(ng-model="vm.item.month" ng-options="month for month in vm.months")

  .form-group
    label.col-xs-2.form-control-static.aff-yellow Electricity
    .col-sm-5.col-xs-10
      .input-group
        .input-group-addon: i.icon-lightbulb.aff-yellow
        input.form-control(placeholder="Amount" ng-model="vm.item.values[0].amount")
    .col-xs-offset-2.col-sm-offset-0.col-sm-5.col-xs-10.aff-form-last
      .input-group
        input.form-control(placeholder="Price" ng-model="vm.item.values[0].price")
        .input-group-addon.aff-yellow UAH

  .form-group
    label.col-xs-2.form-control-static.aff-blue Cold Water
    .col-sm-5.col-xs-10
      .input-group
        .input-group-addon: i.icon-water.aff-blue
        input.form-control(placeholder="Amount" ng-model="vm.item.values[1].amount")
    .col-xs-offset-2.col-sm-offset-0.col-sm-5.col-xs-10.aff-form-last
      .input-group
        input.form-control(placeholder="Price" ng-model="vm.item.values[1].price")
        .input-group-addon.aff-blue UAH

  .form-group
    label.col-xs-2.form-control-static.aff-red Hot Water
    .col-sm-5.col-xs-10
      .input-group
        .input-group-addon: i.icon-water.aff-red
        input.form-control(placeholder="Amount" ng-model="vm.item.values[2].amount")
    .col-xs-offset-2.col-sm-offset-0.col-sm-5.col-xs-10.aff-form-last
      .input-group
        input.form-control(placeholder="Price" ng-model="vm.item.values[2].price")
        .input-group-addon.aff-red UAH

  .btn-group.pull-right
    button.btn.btn-success(type="button" ng-click="vm.save()")
      span.icon-glyph
    button.btn.btn-danger(type="button" ui-sref="aff.table")
      span.icon-glyph-1

  .clearfix
