nav

  ul.nav.nav-justified.nav-pills

    li(ui-sref-active="active")
      a(ui-sref="aff.table", title="Table") Table

    li(ui-sref-active="active")
      a(ui-sref="aff.graph", title="Graph") Graph
